{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href = "{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
{{ parent() }}
<div class="container">
<div id="modalKopOp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">Kop op..</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body kop_op">
                {{ text }}
            </div>
            <div class="modal-footer">
                <a class="newbutton" href = "{{path('mijn_wedstrijden')}}">Thanks, denk ik</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(window).on('load', function() {
        $('#modalKopOp').modal('show');
    });
</script>
{% endblock %}
