{% extends 'base.html.twig' %}

{% block title %}Bekijk toernooien{% endblock %}

{% block content %}
{{ parent() }}
<div class="form-group">
    <h2>Selecteer een toernooi:</h2>
    <div class="col-sm-10">
      {% for toernooi in toernooien %}          
        <article>
          <label class="col-sm-3">Naam toernooi: </label>
          <button value="{{ toernooi.toernooi_naam }}" data-toernooi-id ="{{ toernooi.id }}"
              class="col-sm-4" onclick="selectToernooi(this);">{{ toernooi.toernooi_naam }}</button>
          {% if toernooi.toernooi_status == "inschrijven" %}
            <button data-toernooi-id ="{{ toernooi.id }}" data-toernooi-naam ="{{ toernooi.toernooi_naam }}"
               class="newbutton" style="margin-top:0px" onclick="selecteerEnSchrijfIn(this)">Schrijf in / wijzig</button>
          {% endif %}
          <div class="w3-row">
          <p><label class="col-sm-3">status: </label> {{ toernooi.toernooi_status }}</p>
          <p></p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}     
<script src="{{ asset('js/toernooien.js')}}" ></script>
{% endblock %}


